/* override bootstrap styles */
@import url('http://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.navbar-form input, .form-inline input {
  width:auto;
}

body {
  padding-top:50px;
  /* color:#646464;
  background-color:#efefef; */
  background:url('/images/thumb-1920-26102.jpg');
  background-size: cover;
}

h2,h3,.highlight,.navbar a,#masthead h4 {
  /* font-family: 'Roboto', sans-serif; */
  font-family:'Oswald',arial narrow,sans-serif;
  font-weight: bold;
  font-size: 20px;
}

#masthead h1{
  font-family: 'Bad Script', cursive;
}


footer {

  margin-top:40px;
  padding-top:40px;
  padding-bottom:40px;
  background-color:#cecece;
 
}


#masthead {
  min-height:199px;
  /* background:url('/images/thumb-1920-26102.jpg'); */
  
  color:#aaaacc;
}

#masthead h1 {
  font-size: 55px;
  line-height: 1;
  color:#fefeff;
  margin-top:50px;
}

#masthead .well {
  margin-top:31px;
  background-color:#111166;
  border-color:#000022;
  color:#efefff;
  min-height:127px;
}

#topPanel {
  padding-top:0px;
  padding-left:22px;
  padding-right:22px;
}
#topPanel .panel-body {
  padding-top:0px;
}

.navbar.affix {
  position:fixed;
  top:0;
  width:100%;
}

.top-spacer {
  background-color:#ffffff;
  height:40px;
}

a,a:hover {
  color:#223344;
  text-decoration:none;
}

.icon-bar {
  background-color:#fff;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 80px;
  }
}

.navbar-bright {
  background-color:black;
  color:#fff;
  margin-bottom: 0;
  border-width: 0;
}

.navbar-bright a, .navbar-bright .navbar-brand, #masthead h4 {
  color:#ccccdd;
  font-size:14px;
  text-transform: uppercase;
  letter-spacing:.08em;
}

.navbar-bright li > a:hover {
  background-color:#000044;
}

.dropdown-menu {
  min-width: 250px;
  color: white;
}

.caret {
  color:#fff;
}

.navbar-toggle {
  color:#fff;
  border-width:0;
}

.navbar-toggle:hover {
  background-color:#fff;
}

.panel {
  border-color:transparent;
  border-radius:0;
  width:65vw;
  margin: auto;
}

.panel-form {
  border-color:transparent;
  border-radius:0;
  width:30vw;
  height: 75vh;
  margin: auto;
  background-color: white;
  box-shadow: 10px 10px black;
}

.panel-form2 {
  border-color:transparent;
  border-radius:0;
  width:30vw;
  height: 115vh;
  margin: auto;
  background-color: white;
  box-shadow: 10px 10px black;
}

.panel-form3 {
  border-color:transparent;
  border-radius:0;
  width:30vw;
  height: 95vh;
  margin: auto;
  background-color: white;
  box-shadow: 10px 10px black;
}

.panel-body-home img{
   width: 30vw;
   height:30vw;
}
.panel-body-home div.ad{
  margin-left: 20px;
}
.panel-body-home{
  display: flex;
}

.thumbnail {
  margin-bottom:8px;
}

.img-container {
  overflow:hidden;
  height:170px;
}

.img-container img {
  min-width:280px;
  min-height:180px;
  max-width:380px;
  max-height:280px;
}

.txt-container {
  overflow:hidden;
  height:100px;
}

.panel .lead {
  overflow:hidden;
  height:90px;
  
}

.label-float{
  margin:0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  width:100%;
  opacity:.9;
  padding:6px;
  color:#fff;
}
    
.col-sm-12 h1{
  color:white;
  font-family:'Oswald',arial narrow,sans-serif;
}

.panel h1,.panel-form h1, .panel-form2 h1, .panel-form3 h1{
  text-align: center;
  font-family: 'Bad Script', cursive;
  /* font-family:'Oswald',arial narrow,sans-serif; */
  color: rgb(82, 81, 81);
}
.btn-twitter {background-color:#4099FF;color:#fff;}
.btn-facebook {background-color:#3B5998;color:#fff;}
.btn-google-plus {background-color:#d34836;color:#fff;}

.btn-twitter:hover {background-color:#3088FF;color:#62BBFF;}
.btn-facebook:hover {background-color:#2A4998;color:#4C6BBA;}
.btn-google-plus:hover {background-color:#C23836;color:#E45A58;}

/* Pagination links */
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: rgb(167, 99, 79);
  color: white;
}

.pagination{
  float: right;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}

.form-body form{
  margin-left:2vw;
  margin-right:2vw;
}


#err_email, #err_pass, #err_fn,  #err_pass2, #aname_err,#agenre_err,#abook_err,#aimg_err,#atitle_err{
   font-size: x-small;
   color: rgb(184, 44, 44);
}

.btn-dark{
  background-color: black;
  color: white;
}